sudo: required

services:
  - docker

env:
  matrix :
    - env:
      NODE_PATCH_VERSION: '7.5.0'
      NODE_MINOR_VERSION: '7.5'
      NODE_MAJOR_VERSION: '7'
      LATEST: 'latest'
    - env:
      NODE_PATCH_VERSION: '6.9.5'
      NODE_MINOR_VERSION: '6.9'
      NODE_MAJOR_VERSION: '6'
    - env:
      NODE_PATCH_VERSION: '4.7.3'
      NODE_MINOR_VERSION: '4.7'
      NODE_MAJOR_VERSION: '4'

install:
  - docker build -t "lgatica/node-krb5:$NODE_PATCH_VERSION" "$NODE_PATCH_VERSION"
  - docker build -t "lgatica/node-krb5:$NODE_PATCH_VERSION-onbuild" "$NODE_PATCH_VERSION/onbuild"

script:
  - docker run --rm "lgatica/node-krb5:$NODE_PATCH_VERSION" node --version

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION" "lgatica/node-krb5:$NODE_MINOR_VERSION"
  - docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION" "lgatica/node-krb5:$NODE_MAJOR_VERSION"
  - docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION-onbuild" "lgatica/node-krb5:$NODE_MINOR_VERSION-latest"
  - docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION-onbuild" "lgatica/node-krb5:$NODE_MAJOR_VERSION-latest"
  - if [ "$LATEST" == "latest" ]; then
    docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION" "lgatica/node-krb5:latest"
    docker tag "lgatica/node-krb5:$NODE_PATCH_VERSION-onbuild" "lgatica/node-krb5:onbuild"
    fi
  - docker push lgatica/node-krb5
